<div>
    <h5 class="text-[18px] font-semibold uppercase tracking-wider">Liens rapides</h5>
    <ul class="mt-4 space-y-2">
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">À propos de nous</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Trouver des tuteurs</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Parcourir les cours</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Tarification</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Blog</a>
      </li>
    </ul>
  </div>