<div>
    <h4 class="text-sm font-semibold uppercase tracking-wider">Sujettes</h4>
    <ul class="mt-4 space-y-2">
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Mathematics</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Science</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Languages</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Coding</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Business</a>
      </li>
    </ul>
  </div>