<div>
    <h4 class="text-sm font-semibold uppercase tracking-wider">Soutien</h4>
    <ul class="mt-4 space-y-2">
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Centre d'aide</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">FAQs</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Contactez-nous</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">politique de confidentialité</a>
      </li>
      <li>
        <a  class="text-gray-400 hover:text-white transition-colors">Conditions d'utilisation</a>
      </li>
    </ul>
  </div>