

  <!-- Hero Section -->
  <app-hero-section/>

  <!-- Main Content -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Filters Sidebar -->
      <div class="lg:w-1/4">
        <app-filter-tutors/>
      </div>
      <!-- Tutors List -->
      <div class="lg:w-3/4">
        <!-- Sorting -->
        <app-sorting-tutor/>

        <!-- Tutor Cards -->
     
          <!-- Tutor Card 1 -->
          <app-list-tutor-accueil/>

      </div>
    </div>
  </div>


<app-display-vedeo/>